//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$navy: #002B5B;
$blue: #2B4865;
$teal: #256D85;
$cold: #8FE3CF;
$negro: #000000;
$blanco: #FFFFFF;
$rosa: #F53756;


//Tamaños para media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
